body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-family: 'Antic Slab', serif; }
  @media all and (min-width: 724px) {
    body header {
      margin: 0;
      height: 60px;
      border-bottom: 2px solid #34495E;
      background-color: #d6eaff;
      background-color: rgba(51, 153, 255, 0.2); }
      body header .logo {
        margin-left: 10px;
        float: left;
        text-align: left;
        font-size: 45px; }
      body header nav ul {
        float: right; }
        body header nav ul li {
          display: inline;
          padding: .75em; }
          body header nav ul li a {
            text-decoration: none;
            color: #34495E;
            border: 2px solid #34495E;
            border-bottom: none;
            border-top: none;
            font-size: 30px;
            padding: 30px; }
          body header nav ul li a:hover {
            font-style: italic;
            color: grey; }
    body .headlines {
      text-align: left;
      font-size: 1em;
      margin-left: 10px; }
    body .form {
      font-size: 1em;
      margin-left: 10px; }
      body .form input {
        font-family: 'Antic Slab', serif;
        border-radius: 5px; }
    body .lists {
      font-size: 1em;
      margin-left: 10px; } }
  @media all and (min-width: 421px) and (max-width: 723px) {
    body header {
      margin: 0px;
      height: 40px;
      border-bottom: 1px solid #34495E;
      background-color: #d6eaff;
      background-color: rgba(51, 153, 255, 0.2); }
      body header .logo {
        margin-left: 10px;
        float: left;
        text-align: left;
        font-size: 30px; }
      body header nav ul {
        float: left; }
        body header nav ul li {
          display: inline;
          padding: .5em; }
          body header nav ul li a {
            text-decoration: none;
            color: #34495E;
            border: 1px solid #34495E;
            border-top: none;
            border-bottom: none;
            font-size: 15px;
            padding: 15px; }
          body header nav ul li a:hover {
            font-style: italic;
            color: grey; }
    body .headlines {
      text-align: left;
      font-size: .75em;
      margin-left: 10px; }
    body .form {
      font-size: .75em;
      margin-left: 10px; }
      body .form input {
        font-family: 'Antic Slab', serif;
        border-radius: 5px; }
    body .lists {
      font-size: .75em;
      margin-left: 10px; } }
  @media all and (min-width: 321px) and (max-width: 420px) {
    body header {
      margin: 0px;
      height: 40px;
      border-bottom: 1px solid #34495E;
      background-color: #d6eaff;
      background-color: rgba(51, 153, 255, 0.2); }
      body header .logo {
        margin-left: 5px;
        float: left;
        text-align: left;
        font-size: 15px; }
      body header nav ul {
        float: left; }
        body header nav ul li {
          display: inline-block;
          padding: 1px; }
          body header nav ul li a {
            text-decoration: none;
            color: #34495E;
            border: 1px solid #34495E;
            border-top: none;
            border-bottom: none;
            font-size: 10px;
            padding: 20px; }
          body header nav ul li a:hover {
            font-style: italic;
            color: grey; }
    body .headlines {
      text-align: left;
      font-size: .20em;
      margin-left: 5px; }
    body .form {
      font-size: .20em;
      margin-left: 5px; }
      body .form input {
        font-family: 'Antic Slab', serif;
        border-radius: 5px; }
    body .lists {
      font-size: .20em;
      margin-left: 5px; } }
  @media all and (max-width: 320px) {
    body header {
      margin: 0px;
      height: 40px;
      border-bottom: 1px solid #34495E;
      background-color: #d6eaff;
      background-color: rgba(51, 153, 255, 0.2); }
      body header .logo {
        margin-left: 5px;
        float: left;
        text-align: left;
        font-size: 10px; }
      body header nav ul {
        float: left; }
        body header nav ul li {
          display: inline-block;
          padding: 1px; }
          body header nav ul li a {
            text-decoration: none;
            color: #34495E;
            border: 1px solid #34495E;
            border-top: none;
            border-bottom: none;
            font-size: 8px;
            padding: 10px; }
          body header nav ul li a:hover {
            font-style: italic;
            color: grey; }
    body .headlines {
      text-align: left;
      font-size: .10em;
      margin-left: 5px; }
    body .form {
      font-size: .10em;
      margin-left: 5px; }
      body .form input {
        font-family: 'Antic Slab', serif;
        border-radius: 5px; }
    body .lists {
      font-size: .10em;
      margin-left: 5px; } }

/*# sourceMappingURL=main.css.map */
